{% block title %}{% endblock %}

<head>
    <title>Réinitialisation du mot de passe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">

</head>

{% block body %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Veuillez-vous saisir votre email afin d'envoyer un lien de réinitialisation du mot de passe.</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <h3 class="text-center mb-4">Mot de passe oublié ? </h3>


                        {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

                        <div class="col-12">
                            <label for="yourEmail" class="form-label">Votre Email:</label>
                            {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                            <div class="invalid-feedback">Please enter a valid Email address!</div>
                        </div>
<br/>
                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Envoyer</button>
                        </div>

                        <br/>


                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

{% endblock %}


