<form method="post" action="{{ path('app_reservation_delete', {'reservid': reservation.reservid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.reservid) }}">
    <button ><i class="fas fa-trash-alt"></i></button>
</form>
