{% extends 'base.html.twig' %}

{% block body %}
    <style>

        h1 {
            text-align: center;
        }
        /* Style pour ajouter une bordure et de la marge au titre */
        h1 {
            border: 2px solid #5eb5e0;
            padding: 10px;
            margin-top: 50px;
        }
        .btn-add {
            display: inline-block;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            padding: 12px 20px;
            transition: all 0.3s ease;
            text-decoration: none;
            border: none;
            width: 50px;
        }

        .btn-add:hover {
            background-color: #0062cc;
            color: #fff;
            transform: translateY(-3px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
    </style>

    <h1>Statistiques  d'événements sans participation</h1>
    <div class="text-right">
        <a class="btn btn-primary btn-add" style="width:190px" href="{{ path('app_admin') }}">
            <i class="feather-corner-up-left "></i>
            RETOUR
        </a>
    </div>

    <canvas id="myChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
        {#   labels: ['Nombre d\'événements pas participer '], #}
                labels: [
                    'Nombre d\'événements pas participer '
                ],

                datasets: [{
                    label: 'Statistiques pas de participations aux événements',
                    {# data: [{{ nb_evenements_sans_participants }}], #}

                    data: [
                        {% for eventTheme in eventThemes %}
                        {{ eventTheme.nb_evenements_sans_participants }},
                        {% endfor %}
                    ],
                    backgroundColor: [

                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
