{% extends 'baseBack.html.twig' %}

{% block body %}
    <style>

        .btn-add {
            background-color: #5eb5e0;
            border-color: #5eb5e0;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: uppercase;
            transition: all 0.2s ease-in-out;
            width: 100px;
        }

        .btn-add:hover {
            background-color: white;
            color: #5eb5e0;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
            border: 2px solid #5eb5e0;
            padding: 10px;
        }

    </style>
    <h1>Statistiques Reclamations</h1>
    <div class="text-right">
        <a class="btn btn-primary btn-add" style="width:190px" href="{{ path('app_admin') }}">
            <i class="feather-corner-up-left "></i>
            RETOUR
        </a>
    </div>

    <canvas id="myChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Clients'],
                datasets: [{
                    label: 'Nombre de réclamations',
                    data: [{{ statistiques.client }}],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                responsive: true, // Make the chart responsive
                maintainAspectRatio: false, // Preserve aspect ratio on responsive behavior
                legend: {
                    display: false // Hide the legend
                },
                title: {
                    display: true,
                    text: 'Statistiques de Réclamations',
                    fontSize: 18,
                    fontColor: '#333'
                }
            }
        });
    </script>
{% endblock %}
